<?xml version="1.0"?>
<configuration>
	<connectionStrings>
    <!--pecadus_db.mysql.dbaas.com.br - 179.188.16.205 TESTE -->
    <add name="conPadrao"
         connectionString="Driver={MySQL ODBC 5.3 ANSI Driver};
                           Server=pecadus_db.mysql.dbaas.com.br; PORT=3306;
                           Database=pecadus_db;
                           User=pecadus_db;
                           Password=OlivPec778@!-;
                           OPTION=3;"/>
    <add name="conSandBox"
         connectionString=""/>
    <add name="conLocal"
         connectionString="Driver={MySQL ODBC 5.3.7 ANSI Driver};
                           Server=localhost; PORT=3306;
                           Database=pecadus_db;
                           User=root;
                           Password=1234;
                           OPTION=3;"/>
  </connectionStrings>
	<appSettings>
    <!-- isSandbox => Ambiente de PRODUCAO : false
                      Ambiente de TESTE    : true -->
    <add key="isSandbox" value="false"/>
    
    <add key="home" value="/SexShop"/>
		<add key="nomeSite" value="Pecadus"/>
		<add key="nomeSiteCompleto" value="Pecadus Sex Shop"/>
		<add key="tituloPadrao" value="Compre produtos eroticos online com conforto"/>
		<!-- 65 chars max -->
		<add key="enderecoSite" value="www.Pecadus.com.br"/>
		<add key="paginas" value="15"/>
		<add key="mailHost" value="localhost"/>
		<add key="mailPrincipal" value="pecadus@gmail.com"/>
		<add key="mailAdmin" value="kclauber@gmail.com"/>
		<add key="mailCobrancaPagSeguro" value="pecadus@gmail.com"/>
		<add key="mailServidor" value="contato.pecadus@oliveirasoftware.com.br"/>
		<add key="contaSkype" value="pecadus"/>
		<add key="contaTwitter" value="www.twitter.com/pecadus"/>
		<add key="contaFacebook" value="www.facebook.com/pecadus.oficial"/>
		<add key="mailGTalk" value="pecadus@gmail.com"/>
		<add key="horarioAtendimento" value="Seg. a Sex. das 09h00 as 18h00"/>
		<add key="cepOrigem" value="02357200"/>
		<add key="caixaFrete" value="2,50"/>
		<add key="caixaComprimento" value="26"/>
		<add key="caixaLargura" value="14"/>
		<add key="caixaAltura" value="7"/>
		<add key="prazoPreparacaoEnvio" value="2"/>
		<add key="ChartImageHandler" value="storage=file;timeout=20;"/>
		<!-- Dados para cálculo do preço de venda
         Utilizar "." no lugar de "," para o cálculo no javascript -->
		<add key="fretePCU" value="0.75"/>
		<add key="imposto" value="6"/>
		<add key="txOperadora" value="4.7"/>
		<add key="custoFixPeriodo" value="1350.00"/>
		<add key="custoVarPeriodo" value="300.00"/>
		<add key="perdaPeriodo" value="500.00"/>
		<add key="MKP" value="10"/>
	</appSettings>
	<system.web>
		<httpRuntime requestValidationMode="2.0"/>
		<customErrors mode="Off"/>
		<compilation targetFramework="4.0" debug="true">
			<assemblies>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
</configuration>
