<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="Conexao" connectionString="Data Source=localhost;Initial Catalog=bd_pd_br;User ID=bd_pd_br_user;Password=bd_pd_br_pass;"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true"/></system.web>
</configuration>
